body {
    background-image: url("background.jpg");
}
h3 {
    font-size: 25px !important;
}
.btn-success {
    transition-duration: 0.8s;
}
.btn-success:hover {
    background-color: orange;
    color: green;
    border: 2px solid whitesmoke;
}
canvas {
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin-top: 60px;
}
@keyframes example {
    25% {
        box-shadow: 1px 1px 38px red;
    }
    50% {
        box-shadow: 1px 1px 38px blue;
    }
    75% {
        box-shadow: 1px 1px 38px yellow;
    }
    100% {
        box-shadow: 1px 1px 38px white;
    }
}